#Projects {
    min-height: 100vh;
    color: white;
    width: 78%;
    margin: auto;
    padding-top: var(--page-padding-top);
    padding-bottom: var(--page-padding-bottom);

    a {
        text-decoration: none;
        color: white;
    }

    header {
        h1 { 
            font-family: 'Gruppo', sans-serif; 
            font-size: 2.5rem;
            color: white;
            text-align: center;
        }
    }

    .project-tile-info {
        border: 1px solid rgba(255, 255, 255, 0.35);
        border-radius: 10px;
        padding: .75rem;
        margin-bottom: 1.75rem;
    }

    .info-top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            font-size: 1.5rem;
        }
    }

    .info-bottom-row {
        span {
            font-size: 1rem;
            font-family: 'FiraSansExtraCondensed-Light';
            &:not(.tag-text) { 
                display: block;
                font-family: 'FiraSansExtraCondensed-ExtraLight';
                color: #F8F8F8;
                margin-bottom: .5rem;
            }
        }
    }

    .tags {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .project-tag {
            padding: .15rem .25rem;
            border-radius: 2px;
            margin-right: .5rem;
        }
    }
}