#ProjectPage {
    min-height: 100vh;
    color: white;
    width: 78%;
    max-width: 30rem;
    margin: auto;
    padding-top: var(--page-padding-top);
    padding-bottom: var(--page-padding-bottom);

    header {
        color: white;
        text-align: left;
        margin-bottom: 2rem;
        span {
            font-family: 'Fira Sans Extra Condensed', sans-serif;
            font-weight: 200;
            color: rgba(255, 255, 255, 0.7);
        }
    }

    section {
        margin-bottom: 2rem;
        display: flex;
        .img-wrapper {
            flex: 1;
        }
        .text-wrapper {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 100%;
            border-radius: 10px;
        }
        p {
            font-family: 'Fira Sans Extra Condensed', sans-serif;
            font-weight: 200;
            padding: .75rem;
            font-size: 1.15rem;
        }
    }

    #ButtonsRow {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 1.5rem;
        a {
            cursor: pointer;
        }
        button {
            font-family: 'Fira Sans Extra Condensed', sans-serif;
            font-weight: 200;
            font-size: 1.15rem;
            border: none;
            border-radius: 5px;
            padding: .25rem 1rem;
            color: white;
            // margin: 0rem .5rem;
            background: #2F4858;
            cursor: pointer;
        }
        .back-btn {
            background: #A06078;
        }
    }
}

#WriteUp {
    margin: 2rem 0rem;
    
    p {
        font-weight: 200;
        font-size: 1.25rem;
        line-height: 25px;
    }
}

#TechnologiesRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;
    div {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 455px) {
    #ProjectPage { width: 90% }
}