@import '../../Globals.scss';

#HomeMain {
    min-height: 100vh;
    width: 78%;
    max-width: 30rem;
    margin: auto;
    padding-top: var(--page-padding-top);
    padding-bottom: var(--page-padding-bottom);
    header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
    
        color: var(--highlight-text);
    
        img { 
            width: 100%;
            height: auto;
         }
    
        .header-text {
            width: 100%;
            display: flex;
            justify-content: space-between;   
            align-items: flex-end; 
            span {
                font-family: 'Fira Sans Extra Condensed', sans-serif;
                &:not(.name) { font-size: .75rem; }
            }
        }
        .name { 
            font-size: 1.5rem;
            margin-bottom: .15rem;
         }
    }
    
    #TitleDescription {
        font-family: 'Gruppo', sans-serif;
        h1 {
            font-size: 1.25rem;
            color: var(--white);
            line-height: 28px;
        }
    }
    
    #FeaturedList {
        margin-top: 1rem;
        span {
            display: block;
            font-family: 'Fira Sans Extra Condensed', sans-serif;
            font-weight: 200;
            color: var(--white);
            margin-bottom: .25rem;
        }
    }
}

@media screen and (min-width: 663px) {
    #HomeMain {
        header {
            .header-text {
                span {
                    &:not(.name) { font-size: 1rem; }
                }
                .name { font-size: 1.75rem; }
            }
        }
        #TitleDescription {
            h1 {
                font-size: 1.5rem;
            }
        }
        #FeaturedList {
            span, p { font-size: 1rem; }
        }
    }
}
