:root {
    --black: #09090C;
    --highlight-text: #C28854;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: var(--black);
}

@font-face {
  font-family: 'FiraSansExtraCondensed-Regular';
  src: local('FiraSansExtraCondensed-Regular'), url(./fonts/FiraSansExtraCondensed-Regular.ttf) format('truetype');
}

// NavBar Styles
#NavBar {
    display: flex;
    height: 3rem;
    width: 100%;
    color: white;
}