:root {
    --black: #09090C;
    --white: #F8F8F8;
    --contrast-gray: #1D1D1D;
    --highlight-text: #C28854;

    //Sizes
    --page-padding-top: 1rem;
    --page-padding-bottom: 4.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    background: var(--black);
}

#TopLogo {
  padding: .5rem 1rem;
  padding-top: .75rem; 
}


// Global Classes
.strip-anchor-styles {
  text-decoration: none;
  color: white;
}

.technology-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.6);
  }
}