:root {
    --black: #09090C;
    --white: #F8F8F8;
    --contrast-gray: #1D1D1D;
    --highlight-text: #C28854;

    //Sizes
    --page-padding-top: 1rem;
    --page-padding-bottom: 4.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'FiraSansExtraCondensed-Regular', sans-serif;
    background: var(--black);
}


// Remember to fix the fonts download issue
// might help 👇🏻
// https://stackoverflow.com/questions/19817459/firefox-font-face-with-local-file-downloadable-font-download-failed
@font-face {
  font-family: 'FiraSansExtraCondensed-Regular';
  src: local('./fonts/FiraSansExtraCondensed-Regular.ttf'), url('./fonts/FiraSansExtraCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSansExtraCondensed-Light';
  src: local('./fonts/FiraSansExtraCondensed-Light.ttf'), url('./fonts/FiraSansExtraCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSansExtraCondensed-ExtraLight';
  src: local('./fonts/FiraSansExtraCondensed-ExtraLight.ttf'), url('./fonts/FiraSansExtraCondensed-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Gruppo';
  src: local('./fonts/Gruppo-Regular.ttf'), url('./fonts/Gruppo-Regular.ttf') format('truetype');
}

#TopLogo {
  padding: .5rem 1rem;
  padding-top: .75rem; 
}


// Global Classes
.strip-anchor-styles {
  text-decoration: none;
  color: white;
}

.technology-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span {
    font-family: 'FiraSansExtraCondensed-ExtraLight', sans-serif;
    color: rgba(255, 255, 255, 0.6);
  }
}